@import './../fonts/Gilroy/stylesheet.css';
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-card-blue: #0d1b39;
  --accent: #e58411;
  --footer-accent: #f6973f;
  --footer-bg: #2d2f33;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --header-text-color: #fff;
  --ui-orange: #e58411;
  --ui-turquoise: #00d6c9;
  --ui-gray: #7c7c7c;
  --ui-dark-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--small {
  max-width: 1094px;
}

.none {
  display: none !important;
}

a {
  transition: opacity 0.2s ease-in;
}
a:hover {
  opacity: 0.6;
}

.title-2 {
  font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
  font-weight: 700;
}

.header {
  position: relative;
  padding-top: 40px;
  background-color: black;
  background-image: url("./../image/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../image/header/header-bg@2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
}

.header__nav {
  margin-bottom: 86px;
  margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

@keyframes cursor {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #f9f4f4;
  }
}
@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  30% {
    width: 35ch;
  } /*The enitre header will be typed out 1 character at a time*/
  80% {
    width: 35ch;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}
.header__content {
  text-align: center;
}
.header__content p {
  display: inline-block;
  font-weight: 500;
  border-right: 4px solid #e9f5e9; /*This will be the blinking cursor*/
  animation: cursor 1s infinite step-end, typing 15s infinite steps(35);
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
  line-height: 160%;
  opacity: 0.8;
}
@media (max-width: 500px) {
  .header__content p {
    border-right: none;
    animation: none;
    white-space: wrap;
    text-wrap: balance;
  }
}

.header__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
  line-height: 130%;
  text-wrap: balance;
}

.header__search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
@media (max-width: 819px) {
  .header__search {
    display: none;
  }
}

.header__dot {
  position: absolute;
}
@media (max-width: 992px) {
  .header__dot {
    display: none;
  }
}

.header__dot--sofa {
  left: 20.5555555556%;
  top: 63.1918819188%;
}

.header__dot--vase {
  left: 7.6388888889%;
  top: 59.963099631%;
  transform: translate(-50%, -50%);
}

.header__dot--pillow {
  left: 59.375%;
  top: 60.8856088561%;
  transform: translate(-50%, -50%);
}

.header__dot-plant {
  right: 3.1944444444%;
  top: 69.1881918819%;
  transform: translate(50%, 50%);
}

.logo {
  font-size: 28px;
  font-size: clamp(18px, 0.946rem + 0.89vw, 28px);
  font-weight: 700;
  letter-spacing: 0.28px;
  text-transform: capitalize;
  color: #fff;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
}

.nav__btn {
  display: none;
}
@media (max-width: 992px) {
  .nav__btn {
    display: block;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  justify-self: center;
}
@media (max-width: 992px) {
  .nav-list {
    display: none;
  }
}

.nav-list__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  position: relative;
  padding-bottom: 10px;
}

.nav-list__link--dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-list__link--dropdown::after {
  content: url(./../image/icons/arrow.svg);
}

.nav-list__sub-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translate(0%, 10%);
  transition: all 0.2s ease-in;
}

.nav-list__item:hover .nav-list__sub-nav {
  opacity: 1;
  pointer-events: all;
  transform: translate(0%, 0%);
}

.sub__nav {
  display: grid;
  gap: 14px;
  padding: 16px 20px;
  border-radius: 10px;
  background-color: var(--footer-bg);
}

.sub-nav__link {
  color: var(--footer-text-color);
  font-size: 14px;
  transition: all 0.2s ease-in;
}
.sub-nav__link:hover {
  color: var(--accent);
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart__count {
  position: absolute;
  top: 3px;
  right: -6px;
  display: inline-block;
  height: 25px;
  padding: 0 6px;
  background-color: var(--accent);
  border-radius: 40px;
  font-family: var(--font-cards);
  line-height: 25px;
  font-weight: 700;
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 344px;
  height: 56px;
  padding: 8px 8px 8px 20px;
  border-radius: 42px;
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1490196078);
}

.search-form__input {
  flex-grow: 1;
  color: var(--header-text-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.search-form__input::-moz-placeholder {
  color: var(--header-text-color);
  font-weight: 400;
}
.search-form__input::placeholder {
  color: var(--header-text-color);
  font-weight: 400;
}

.search-form__btn {
  width: 40px;
  height: 40px;
  padding: 11px;
  border-radius: 50%;
  background: var(--accent);
  flex-shrink: 0;
}

.info-dot {
  position: relative;
  cursor: pointer;
}

.info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: pulse 1s infinite alternate;
}

.info-dot:hover .info-dot__radius {
  animation: pulse 1s infinite alternate paused;
}

.info-dot:hover .info-dot__circle {
  background-color: var(--accent);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.info-hint {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
  width: 112px;
  height: 56px;
  background-image: url("./../image/icons/tooltip.svg");
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, -100%);
}

.info-hint__radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
  background-image: url("./../image/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.info-hint__radio-fake {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1019607843);
}
.info-hint__radio-fake--orange {
  background-color: var(--ui-orange);
}
.info-hint__radio-fake--turquoise {
  background-color: var(--ui-turquoise);
}
.info-hint__radio-fake--gray {
  background-color: var(--ui-gray);
}

.benefits {
  padding: clamp(60px, 2.679rem + 5.36vw, 120px) 0;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 992px) {
  .benefits__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(30px, 0.982rem + 4.46vw, 60px) 20px;
  }
}
@media (max-width: 629px) {
  .benefits__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .benefits__title {
    max-width: 300px;
  }
}

.benefit__title {
  margin-bottom: 20px;
  opacity: 0.9px;
  font-size: 24px;
  line-height: 28.13px;
  font-weight: 700;
}

.benefit__text {
  margin-bottom: 14px;
  opacity: 0.8px;
  font-size: 16px;
  line-height: 29.6px;
}

.products {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.products__title {
  margin-bottom: 32px;
  text-align: center;
}

.products__tabs {
  margin-bottom: 80px;
  text-align: center;
}

.products__slider {
  margin-bottom: 60px;
}

.products__link {
  text-align: center;
}

.read-more {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
  line-height: 25.9px;
  color: var(--accent);
}
.read-more::after {
  content: url("./../image/icons/arrow-right.svg");
  height: 24px;
}
.read-more--large {
  font-size: 18px;
}

.tab-controls {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 32px;
  background-color: #eee;
}

.tab-controls__bth {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 7px 20px;
  font-size: 18px;
  line-height: 33.3px;
  font-weight: 500;
  color: rgba(30, 30, 30, 0.8);
  transition: background-color 0.2s ease-in;
}
.tab-controls__bth:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__bth--active {
  background-color: #fff;
}
.tab-controls__bth--active:hover {
  background-color: #fff;
}

.card {
  position: relative;
  width: 268px;
  font-family: var(--font-cards);
}

.card__link {
  position: absolute;
  inset: 0;
}

.card__photo {
  margin-top: 50px;
  height: 240px;
  background-color: #fafafa;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.card__image {
  margin-top: -50px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 202px;
  padding: 14px 22px 28px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.card__category {
  position: relative;
  z-index: 3;
  font-size: 16.76px;
  line-height: 20.28px;
  color: var(--text-muted);
}

.card__title {
  font-size: 21.33px;
  line-height: 25.81px;
  font-weight: 600;
  color: var(--text-card-blue);
}

.card__rating {
  display: flex;
  gap: 3px;
}

.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 21.33px;
  line-height: 25.81px;
  font-weight: 600;
  color: var(--text-card-blue);
}
.card__price::after {
  content: attr(data-value);
  font-size: 15.23px;
  line-height: 18.43px;
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 48.74px;
  height: 48.74px;
  padding: 12.19px;
  border-radius: 31px;
  background-color: var(--ui-dark-blue);
  transition: opacity 0.2s ease-in;
}
.card__btn:hover {
  opacity: 0.8;
}

.slider {
  position: relative;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 12px;
  gap: 10.87px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 7.03px 19.53px 0px rgba(0, 0, 0, 0.0588235294);
  z-index: 1;
}
.slider__btn--prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slider__btn--next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.footer {
  padding: 118px 0 56px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
}

.footer__grid {
  margin-bottom: 118px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
  gap: 20px;
}

.footer__text {
  opacity: 0.8;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
}

.footer__logo {
  margin-bottom: 29px;
}

.footer__nav--services {
  grid-column-start: 3;
}

.footer__nav-title {
  margin-bottom: 20px;
  font-family: var(--font-footer-accent);
  font-size: 17px;
  line-height: 22.13px;
  color: var(--footer-accent);
}

.footer__list {
  display: grid;
  gap: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.footer__nav-link {
  color: var(--footer-text-color);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-family: var(--font-footer-accent);
  font-size: 15px;
  line-height: 19.53px;
  opacity: 0.5;
}

.footer__links {
  display: flex;
  gap: 40px;
  opacity: 0.8;
  font-size: 15px;
  line-height: 24px;
}

.footer__link {
  display: block;
  color: var(--footer-text-color);
}

.mobile-nav-wrapper {
  display: none;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  padding: 30px 20px;
  background: var(--footer-bg);
}
.mobile-nav-wrapper a {
  color: var(--footer-text-color);
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-grow: 1;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 22px;
  font-weight: 500;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 22px;
}

.mobile-sub-nav {
  padding: 30px 0 0 30px;
  display: grid;
  gap: 14px;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */