.footer {
	padding: clamp(60px, 2.024rem + 8.63vw, 118px) 0 56px;
	background-color: var(--footer-bg);
	color: var(--footer-text-color);
}

.footer__grid {
	margin-bottom: clamp(60px, 2.024rem + 8.63vw, 118px);
	display: grid;
	grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
	gap: 20px;

	@include media-tablet() {
		grid-template-columns: 4fr 1fr 3fr 3fr;
	}

	@include media-mobile() {
		grid-template-columns: 1fr 1fr;
		gap: 60px 20px;
	}
}

.footer__desc {
	@include media-mobile() {
		grid-column: 1 / 3;
	}
}

.footer__text {
	opacity: 0.8;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
}

.footer__logo {
	margin-bottom: 29px;
}

.footer__nav {
	&--services {
		grid-column-start: 3;
	}

	@include media-mobile() {
		grid-column-start: auto;
	}
}

.footer__nav-title {
	margin-bottom: 20px;
	font-family: var(--font-footer-accent);
	font-size: 17px;
	line-height: 22.13px;
	color: var(--footer-accent);
}

.footer__list {
	display: grid;
	gap: 16px;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
}

.footer__list-item {
}

.footer__nav-link {
	color: var(--footer-text-color);
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media-mobile() {
		flex-direction: column-reverse;
		gap: 20px;
	}
}

.footer__copyright {
	font-family: var(--font-footer-accent);
	font-size: 15px;
	line-height: 19.53px;
	opacity: 0.5;
}

.footer__links {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0.8;
	font-size: 15px;
	line-height: 24px;

	@include media-mobile() {
		gap: 20px;
	}
}

.footer__link {
	display: block;
	color: var(--footer-text-color);

	@include media-tablet() {
		max-width: 200px;
		text-align: center;
	}
}
