.header {
	position: relative;
	padding-top: 40px;

	background-color: black;
	background-image: url('./../image/header/header-bg.jpg');
	background-size: cover;
	aspect-ratio: 1440/1084;

	color: var(--header-text-color);

	// @include retina-bg(url('./../image/header/header-bg@2x.jpg'));

	a {
		color: var(--header-text-color);
	}

	@include media-mobile() {
		padding-top: 20px;
		padding-bottom: 240px;
		aspect-ratio: unset;
		background-position: center;
	}
}

.header__nav {
	margin-bottom: 86px;
	margin-bottom: clamp(20px, 0.071rem + 5.89vw, 86px);
}

@keyframes cursor {
	0%,
	100% {
		border-color: transparent;
	}
	50% {
		border-color: #f9f4f4;
	}
}

@keyframes typing {
	0% {
		width: 0ch;
	} /*Text is hidden*/
	30% {
		width: 35ch;
	} /*The enitre header will be typed out 1 character at a time*/
	80% {
		width: 35ch;
	} /*Text stays visible*/
	90% {
		width: 0ch;
	} /*Text is deleted*/
	100% {
		width: 0ch;
	} /*Text stays hidden*/
}

.header__content {
	text-align: center;

	p {
		display: inline-block;
		font-weight: 500;
		border-right: 4px solid #e9f5e9; /*This will be the blinking cursor*/
		animation: cursor 1s infinite step-end, typing 15s infinite steps(35);
		white-space: nowrap;
		overflow: hidden;

		font-size: 24px;
		font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
		line-height: 160%;
		opacity: 0.8;

		@media (max-width: 500px) {
			border-right: none;
			animation: none;
			white-space: wrap;
			text-wrap: balance;
		}
	}
}

.header__title {
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 80px;
	font-size: clamp(28px, 0.821rem + 4.64vw, 80px);
	line-height: 130%;
	text-wrap: balance;
	// animation: cursor 1s infinite step-end;
}

.header__search {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 45px;
	@include media-mobile-xl() {
		display: none;
	}
}

// Dots
.header__dot {
	position: absolute;
	@include media-tablet() {
		display: none;
	}
}

.header__dot--sofa {
	left: calc(296 * 100% / 1440);
	top: calc(685 * 100% / 1084);
}

.header__dot--vase {
	left: calc(110 * 100% / 1440);
	top: calc(650 * 100% / 1084);
	transform: translate(-50%, -50%);
}

.header__dot--pillow {
	left: calc(855 * 100% / 1440);
	top: calc(660 * 100% / 1084);
	transform: translate(-50%, -50%);
}

.header__dot--plant {
	right: calc(46 * 100% / 1440);
	top: calc(750 * 100% / 1084);
	transform: translate(50%, 50%);
}
