.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 65px;
	justify-self: center;
}

.nav-list__item {
	font-weight: 500;
	font-size: 18px;
	line-height: 21.09px;
}

.nav-list__link {
}
