.products {
	padding: 50px 0;
	background-color: #f7f7f7;
}

.products__title {
	margin-bottom: 32px;
	font-weight: 700;
	font-size: 42px;
	line-height: 49.22px;
	text-align: center;
}
.products__tabs {
	margin-bottom: 80px;
	text-align: center;
}
.products__slider {
	margin-bottom: 60px;
}
.products__link {
	text-align: center;
}
