.search-form {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	max-width: 344px;
	height: 56px;
	padding: 8px 8px 8px 20px;
	border-radius: 42px;
	border: 0.86px solid #ffffff99;
	background: #ffffff26;
}

.search-form__input {
	flex-grow: 1;
	color: var(--header-text-color);
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;

	&::placeholder {
		color: var(--header-text-color);
		font-weight: 400;
	}
}

.search-form__btn {
	width: 40px;
	height: 40px;
	padding: 11px;
	border-radius: 50%;
	background: var(--accent);
	flex-shrink: 0;
}
