.sub__nav {
	display: grid;
	gap: 14px;

	padding: 16px 20px;
	border-radius: 10px;
	background-color: var(--footer-bg);
}

.sub-nav__item {
}

.sub-nav__link {
	color: var(--footer-text-color);
	font-size: 14px;
	transition: all 0.2s ease-in;
	&:hover {
		color: var(--accent);
	}
}
