.tab-controls {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	padding: 6px;
	border-radius: 32px;
	background-color: #eee;

	@include media-mobile() {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.tab-controls__bth {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 32px;
	padding: 7px 20px;
	font-size: 18px;
	line-height: 33.3px;
	font-weight: 500;
	color: rgb(30, 30, 30, 0.8);

	transition: background-color 0.2s ease-in;

	@include media-mobile() {
		padding: 7px 15px;
		line-height: 100%;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&--active {
		background-color: #fff;

		&:hover {
			background-color: #fff;
		}
	}
}
